<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find xm_arm_gazebo_controller_config)/config/xm_arm_gazebo_joint_states.yaml" command="load" />

  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" ns="/xm_arm"
        args="joint_state_controller" />

  <!-- Convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
    <remap from="/joint_states" to="/xm_arm/joint_states" />
  </node>

</launch>
