<launch>

  <include file="$(find xm_arm_robot_hardware)/launch/xm_arm_robot_hardware.launch" />

  <!-- Load moveit launch file -->
  <include file="$(find xm_arm_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find xm_arm_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true" />
    <arg name="debug" value="false" />
  </include>

</launch>
