<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <transmission name="lift_simp_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_lift">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="lift_motor">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="waist_simp_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_waist">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="waist_motor">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="big_arm_simp_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_big_arm">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="big_arm_motor">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="forearm_simp_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_forearm">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="forearm_motor">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="wrist_pitching_simp_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_wrist_pitching">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="wrist_motor_1">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="wrist_rotation_simp_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_wrist_rotation">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="wrist_motor_2">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
