<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <transmission name="finger_left_simp_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_finger_left">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="finger_left_servo">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="finger_right_simp_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_finger_right">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="finger_right_servo">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
