<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <transmission name="kinect_simp_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_kinect">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="kinect_motor">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>