<?xml version="1.0"?>

<robot name="gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--The finger_left xacro macro-->
  <macro name="finger_left" params="name parent color type">
    <joint name="joint_${name}" type="${type}">
      <origin xyz="-0.01295 -0.00014458 0.091042" rpy="1.5708 -1.5708 0" />
      <parent link="link_${parent}" />
      <child link="link_${name}" />
      <axis xyz="0 0 -1" />
      <limit lower="-1.571" upper="0" effort="500" velocity="1" />
    </joint>

    <link name="link_${name}">
      <inertial>
        <origin xyz="0.067181 0.0073582 -2.014E-08" rpy="0 0 0" />
        <mass value="0.054127" />
        <inertia ixx="1.3972E-05" ixy="-3.6354E-06" ixz="-1.1594E-10"
                 iyy="5.1741E-05" iyz="-1.601E-12" izz="4.3944E-05" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://xm_arm_description/meshes/link_${name}.stl" />
        </geometry>
        <material name="${color}" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://xm_arm_description/meshes/link_${name}_l.stl" />
        </geometry>
      </collision>
    </link>
  </macro>

  <!--The finger_right xacro macro-->
  <macro name="finger_right" params="name parent color type">
    <joint name="joint_${name}" type="${type}">
      <origin xyz="0.01295 -0.00014458 0.091042" rpy="1.5708 -1.5708 0" />
      <parent link="link_${parent}" />
      <child link="link_${name}" />
      <axis xyz="0 0 -1" />
      <limit lower="0" upper="1.571" effort="500" velocity="1" />
    </joint>

    <link name="link_${name}">
      <inertial>
        <origin xyz="0.067181 -0.0073582 2.014E-08" rpy="0 0 0" />
        <mass value="0.054127" />
        <inertia ixx="1.3972E-05" ixy="3.6354E-06" ixz="1.1594E-10"
                 iyy="5.1741E-05" iyz="-1.601E-12" izz="4.3944E-05" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://xm_arm_description/meshes/link_${name}.stl" />
        </geometry>
        <material name="${color}" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://xm_arm_description/meshes/link_${name}_l.stl" />
        </geometry>
      </collision>
    </link>
  </macro>

  <!--The gripper_frame xacro macro-->
  <macro name="gripper_frame" params="name parent color type">
    <joint name="joint_${name}" type="${type}">
      <origin xyz="0 0 0.16" rpy="0 0 0" />
      <parent link="link_${parent}" />
      <child link="link_${name}" />
    </joint>

    <link name="link_${name}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.0001" />
        <inertia ixx="0.0" ixy="0.0" ixz="0.0"
                 iyy="0.0" iyz="0.0" izz="0.0" />
      </inertial>
    </link>
  </macro>

</robot>
